<h1>Panel de Tareas del Equipo</h1>

<button (click)="toggleFiltroAlta()"
style="display: block; margin-bottom: 100px auto; padding: 10px 20px; font-size: 16px;"
>
  {{ mostrarSoloAlta ? 'Mostrar Todas' : 'Mostrar Solo Prioridad Alta' }}
</button>

<div *ngFor="let tarea of tareas">
  <div *ngIf="!mostrarSoloAlta || tarea.prioridad === 'ALTA'" class="tarea" [ngClass]="{
      'alta': tarea.prioridad === 'ALTA',
      'media': tarea.prioridad === 'MEDIA',
      'baja': tarea.prioridad === 'BAJA',
      'completada': tarea.estado === 'Completada'
    }" [appResaltarUrgente]="tarea.prioridad" appAumentarTexto>
    <h3>{{ tarea.nombre }}</h3>
    <p><strong>Responsable:</strong> {{ tarea.responsable }}</p>
    <p><strong>Prioridad:</strong> {{ tarea.prioridad }}</p>
    <p><strong>Estado:</strong> {{ tarea.estado }}</p>

    <span *ngIf="tarea.estado === 'Completada'" class="estado completada">✔</span>
    <span *ngIf="tarea.estado === 'Pendiente'" class="estado pendiente">⚠</span>
  </div>
</div>
